.navbar{
  background-color: black;
  padding: 15px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar p{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 2px gray;
}
.APP{
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.footer{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 2px gray;
  
 
}
.products{
  display: grid;

  flex-wrap: wrap;
  min-height: 80vh;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  color: black;
  position: fixed;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
  justify-items: center;

}
.cart-icon{
  color: white;
  width: 70px;
  height: 40px;
  margin-right: 17px;

}
.product{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  
}
.search-button{
  margin-left: 10px;
  padding: 2px 16px;
  border: none;
  border-radius: 4px;
  background-color: #272fcc;
  color: white;
  cursor: pointer;
  margin-right: 25px;
  
}
.search-button:hover{
  background-color: #535bf2;
}
input[type="text"]{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
input[type="text"]:focus{
  border-color: #646cff;
  outline: none;
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}
.product img{
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}
.product h2{
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
.product p{ 
  margin: 0 0 10px 0;
}
.product .price{
  font-weight: bold;
  margin-bottom: 10px;
}
.product button{    
  background-color: #646cff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.product button:hover{
  background-color: #535bf2;
}